dauletle_public_resume.tex
dauletle_public_resume.aux
dauletle_public_resume.fdb_latexmk
dauletle_public_resume.fls
dauletle_public_resume.log
dauletle_public_resume.out
dauletle_public_resume.synctex.gz
